html {
  font-family: Arial, Helvetica;
}

figure {
  margin: auto;
}

figcaption {
  color: white;
  font-style: italic;
  text-align: center;
}

ul {
    margin: auto;
}

.list-info {
    margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  margin: auto;
}

figure {
  display: grid;
  justify-content: left;
}

nav {
  background-color: rgb(38, 40, 48);
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
  padding-top: 1%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid rgb(71, 71, 71);
}

body {
  margin-top: 50px;
}

footer {
  text-align: center;
}